<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="root"></div>
  
  <script>
    const app = Vue.createApp({
      data() {
        return {
          needButton: '我需要一个按钮',
          noNeed: '不太需要'
        }
      },
      template: `
        <myform :text="needButton">
          <button>按钮</button>
          <hr />
        </myform>
        <myform :text="noNeed" />
      `
    })

    app.component('myform', {
      props: ['text'],
      methods: {
        handleClick() {
          alert(123)
        }
      },
      template: `<div>
        <input />
        <div @click="handleClick">{{text}}</div>
        <slot />
        </div>`
    })
    const vm = app.mount('#root')
  </script>
</body>
</html>