<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="counter">
    <ol>
        <todo-item v-for="item in groceryList" :todo="item" :key="item.id" />
    </ol>
    <div v-bind:style="{ fontSize: postFontSize + 'em' }">
        <post @enlarge-text="postFontSize += $event" v-for="item in posts" :posts="item" :key="item.id" />
    </div>
    <p>{{modelValue}}</p>
    <custom-input  v-model="searchText"></custom-input>
  </div>

  <script>
    const Counter = {
      data() {
        return {
          modelValue: 'Hello world',
          groceryList: [
              { id: 0, text: 'Vegetables' },
              { id: 1, text: 'Cheese' },
              { id: 2, text: 'Whatever else humans are supposed to eat' }
          ],
          posts: [
              { id: 1, title: 'My journey with Vue' },
              { id: 2, title: 'Blogging with Vue' },
              { id: 3, title: 'Why Vue is so fun' }
            ],
          postFontSize: 1
        }
      }
    }
    
    const app = Vue.createApp(Counter)

    app.component('custom-input', {
      props: ['modelValue'],
      template:`<input
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)"
    >
  `
    })
    app.component('todo-item', {
        props: ['todo'],
        template: `<li>{{ todo.text }}</li>`
    })
    app.component('post', {
      props:['posts'],
      emits:['enlarge-text'], // 在子组件中列出已抛出的事件
      template: `<h4>{{posts.title}}</h4>
      <button @click="$emit('enlarge-text', 0.1)">
        Enlarge text
      </button>`
    })
    app.mount('#counter')
  </script>
</body>
</html>
